<!DOCTYPE html>
<html>

<head>
	<title>Hanser直播间弹幕查询</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- vue begin -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- vue end -->

	<!-- semantic-ui begin -->
	<link rel="stylesheet" type="text/css" href="3rd/semantic-ui/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="3rd/semantic-ui/semantic.min.js"></script>
	<!-- semantic-ui end-->

	<!-- three begin -->
	<script src="js/vendor/three/three.min.js"></script>
	<script src="js/vendor/three/OrbitControls.js"></script>
	<!-- three end -->

	<!-- app begin -->
	<!-- <link href="styles/main.css" rel="stylesheet" type="text/css"> -->
	<link href="styles/danmu_lite_0.css?v=202004032325" rel="stylesheet" type="text/css" />
	<script defer="defer" type="text/javascript" src="js/danmu.js?v=202004032327"></script>
	<!-- app end -->
</head>

<body>
	<div class="BarragePageWrap">
		<div class="BarrageBanner"></div>
		<div class="BarrageContentWrap ui segment">
			<div class="BarrageContainer">
				<barrage-room-id :room-id="2550505"></barrage-room-id>
				<barrage-connection-status :barrage-statistics="barrageStatistics"></barrage-connection-status>
				<barrage-counter :barrage-statistics="barrageStatistics"></barrage-counter>
			</div>

			<div class="ui horizontal divider">
				<i class="user icon"></i> User
			</div>

			<div>
				<div class="ui large icon input">
					<input type="text" placeholder="查询用户弹幕" id="username">
				</div>
				<barrage-search-button></barrage-search-button>
				<div class="ui negative message" id="search_error_message_group" style="display:none">
					<div class="header" id="search_error_message">
					</div>
				</div>

				<ul class="ui green padded segment BarrageArea-User" id="BarrageArea-User"
					@scroll="onScrollBarrageArea">
					<li is="barrage-list-item" v-for="barrage in barrages" :key="barrage.id" :barrage="barrage">
					</li>
				</ul>

				<div class="ui horizontal divider">
					<i class="comments icon"></i> All
				</div>

				<ul class="ui blue padded segment BarrageArea" id="BarrageArea" @scroll="onScrollBarrageArea">
					<li is="barrage-list-item" v-for="barrage in barrages" :key="barrage.id" :barrage="barrage">
					</li>
				</ul>
			</div>
			<footer is="barrage-footer"></footer>
		</div>
	</div>
	<div id="scene-container" class="scene-background"></div>
</body>

</html>